.schoolsystem{
    .TextCard{
        width: 80%;
        margin: 200px auto 48px;
    }
    .text{
        .h2{
            font-weight: 600;
            font-size: 32px;
            line-height: 32px;
            margin: 0;
        }
        .p{
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            margin: 0;
        }
    }
    a{
        display: block;
        width: 80%;
        margin: 80px auto;
    }
}