.subtitle{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #20AFFF;
}

.maintitle{
    text-align: center;
    margin: 20px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    color: #000000;
}

.Title{
    padding: 4% 0 2%;
}