

.mySwiper{
    padding: 5%;
 
  .swiper-slide { display: grid;
    place-items: center;
    text-align: center;
    font-size: 18px;

 
    .img{
        display: grid;
        align-items: center;
        margin-bottom: 55px;
        width: 120px;
        height: 100px;
       
    }
    img{
        display: block;
        object-fit: cover;

    }
  }
}